<?xml version="1.0" ?>
<robot name="test_blocks">
  <mujoco>
    <compiler meshdir="meshes" fusestatic="false"/>
  </mujoco>
<link name="base_link">
  <inertial>
    <origin xyz="0.04055021169820366 0.0 0.13913460352255524" rpy="0 0 0"/>
    <mass value="5.887500000000001"/>
    <inertia ixx="0.04019822250760299" iyy="0.04580529009504215" izz="0.008060192587439136" ixy="0.0" iyz="0.0" ixz="-0.008923372018038965"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

</robot>
